body {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: black !important;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #F1F1F1;
}

.table-striped>tbody>tr:nth-of-type(2n) {

}

.table-striped>tbody>tr:nth-of-type(2n+1).clicked {
	background-color: rgb(77, 177, 255);
}

.table-striped>tbody>tr:nth-of-type(2n).clicked {
	background-color: rgb(77, 177, 255);
}

tbody tr:hover td {
	background-color: #bababa;
}

.form-control {
	margin-bottom: 10px;
}

nav {
	background-color: rgb(77, 177, 255) !important;
}

.create-form {
	text-align: center;
}
