<div class="container">
  <form ng-submit="addcozy()">
    <div class="col-md-12 create-form">
      <label for="serialNum">Serial Number:
      <input class="form-control" ng-model="cozy.serialNum" type="text" placeholder="Serial Number" name="serialNum" required></label>
      <label for="size">Size:
      <select class="form-control" ng-model="cozy.size" name="size" required>
        <option value=10>
          10in
        </option>
        <option value=12>
          12in
        </option>
      </select></label>
      <label for="primaryFab">Primary Fabric:
      <select class="form-control" ng-model="cozy.primaryFab" name="primaryFab" ng-options="fabric.serialNum for fabric in fabrics | filter:{ primaryFab : true} | filter:{ size : cozy.size}">
      </select></label>
      <label for="secondaryFab">Secondary Fabric:
      <select class="form-control" ng-model="cozy.secondaryFab" name="secondaryFab" ng-options="fabric.serialNum for fabric in fabrics | filter:{ primaryFab : false} | filter:{ size : cozy.size}">
      </select></label>
    </div>
    <div class="col-md-12 create-form">
      <label for="quantity">Quantity:
      <input class="form-control" ng-model="cozy.quantity" type="number" placeholder="Quantity" name="quantity"></label>
      <label for="photo">Photo:
      <input class="form-control" ng-model="cozy.photo" type="text" placeholder="Photo Name (something.jpg)" name="photo"></label>
    </div>
    <div class="col-md-12 create-form">
      <label for="comment">Comments:
      <textarea class="form-control" ng-model="cozy.comment" type="text" placeholder="Comments" name="comment"></textarea></label>
    </div>
    <div class="col-md-12 create-form">
      <button class="btn btn-default" type="submit">Create</button>
      <button class="btn btn-default" type="reset">Reset</button>
    </div>
  </form>
</div>
