<div class="container">
  <div id="accordion" class="col-md-7">
    <table class="table table-bordered table-hover table-striped">
      <thead id="table-header">
        <td class="col-md-3">Serial Number</td>
        <td class="col-md-6">Description</td>
        <td class="col-md-3">Quantity</td>
      </thead>
      <tbody>
        <tr ng-repeat="cozy in cozys" ng-click="setTab($index)"
          ng-class='{clicked : isSet($index)}'>
          <td>{{cozy.serialNum}}</td>
          <td>{{cozy.description}}</td>
          <td>{{cozy.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5" id="extra-info">
    <div ng-repeat="cozy in cozys">
      <div ng-class="{active : isSet($index)}" ng-show="isSet($index)">
        <div>
            <div class="col-md-12">
                <img src="{{cozy.photo}}">
            </div>
            <div class="col-md-6">
                Size: {{cozy.size}}"
            </div>
            <div class="col-md-6">
                {{cozy.primaryFab | primaryFilter}} cozy
            </div>
            <div class="update-btns">
              <button type="button" class="btn btn-default" ui-sref='updatecozy({id:cozy.id})'>Update</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
